body {
    background-image: url("https://wallpaperaccess.com/download/4k-7285");
    background-size: auto 120vh;
    font-family: Georgia;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: darkblue;
  }
  
  .site-subtitle {
    font-style: italic;
  }
    