body {
    background-image: url("https://image.winudf.com/v2/image/Y29tLm9sZ2FzYW11aGFub3ZhLkJsYWNrVGhlbWVXYWxscGFwZXJzX3NjcmVlbl80XzE1MzI1NDQ1ODBfMDU5/screen-4.jpg?fakeurl=1&type=.jpg");
    background-size: auto 100vh;
    font-family: Georgia;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: whitesmoke;
  }
  
  .site-subtitle {
    font-style: italic;
  }
    